<!DOCTYPE html>
<html>
<head>
  <title>Recipehunter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
<p> Powered by Food2Fork.com </p>
</footer>
</body>
</html>
