<h1>Recipes</h1>

<table>
	<tr>
		<th>image</th>
		<th>recipe name</th>
		<th>rank</th>
	</tr>
	<% @recipes.each do |recipe| %>
		<tr>
			<td><%= link_to(image_tag(recipe["image_url"]),recipe["f2f_url"], target: "blank") %></td>
			<td><%=  link_to(sanitize(recipe["title"]), recipe["f2f_url"], target: "blank") %></td>
			<td><%= recipe["social_rank"] %></td>
		</tr>
	<% end %>
</table>